// .mx-5 {
//     margin: 0 0;
// }

.pt-120 {
    padding-top: 120px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-250 {
    padding-bottom: 250px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.inline-block {
    display: inline-block;
}