@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.our-team-section {
  background: rgba(0, 0, 0, 0.02);
}
.our-team-section .our-team-section-heading .top-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF6314;
}
.our-team-section .our-team-section-heading .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.our-team-section .our-team-section-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "inter", sans-serif;
  margin: auto 0;
}
.our-team-section .our-team-section-heading .second-heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.our-team-section .expert-driver-card-wrapper {
  display: flex;
  flex-direction: row;
}
.our-team-section .expert-driver-card .card-img {
  position: relative;
  padding: 0 10px;
}
.our-team-section .expert-driver-card .card-img img {
  width: 100%;
  height: auto;
}
.our-team-section .expert-driver-card .social-icons {
  background: #FFFFFF;
  padding: 10px;
  position: absolute;
  left: 10px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
.our-team-section .expert-driver-card :hover .social-icons {
  opacity: 1;
  z-index: 1;
}
.our-team-section .expert-driver-card .card-title {
  padding: 10px 15px;
  box-shadow: 0px 10px 20px rgba(17, 24, 39, 0.1);
  margin: 0 10px;
}
.our-team-section .expert-driver-card h5.driver-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 136%;
}
.our-team-section .expert-driver-card p.driver-designation {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #414652;
}

.at-a-glance-section {
  background-image: url(../../img/bg-img/background-img.png);
  background-color: rgba(17, 24, 39, 0.8);
}
.at-a-glance-section .glance-card-wrapper {
  display: flex;
  flex-direction: row;
}
.at-a-glance-section .at-a-glance-heading {
  margin-bottom: 30px;
}
.at-a-glance-section .at-a-glance-heading h2 {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.at-a-glance-section .glance-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 0 8px;
}
.at-a-glance-section .glance-card .icon-wrapper {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 99, 20, 0.1);
}
.at-a-glance-section .glance-card .glance-counter {
  padding: 25px 0 15px 0;
}
.at-a-glance-section .glance-card .glance-counter p {
  font-size: 44px;
  font-weight: 600;
  line-height: 130%;
}
.at-a-glance-section .glance-card .glance-card-title {
  color: #414652;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.latest-news-section {
  background: rgba(0, 0, 0, 0.02);
}
.latest-news-section .latest-news-heading .top-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF6314;
}
.latest-news-section .latest-news-heading .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.latest-news-section .latest-news-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "inter", sans-serif;
  margin: auto 0;
}
.latest-news-section .latest-news-heading .second-heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.latest-news-section .latest-news-card-wrapper {
  display: flex;
  flex-direction: row;
}
.latest-news-section .latest-news-card {
  position: relative;
  margin: 0 10px;
}
.latest-news-section .latest-news-card .latest-news-img img {
  width: 100%;
  height: auto;
}
.latest-news-section .latest-news-card .news-description {
  position: absolute;
  bottom: -125px;
  background: #FFFFFF;
  margin: 0 25px 0 20px;
  padding: 30px 25px;
  box-shadow: 1px 2px 2px rgba(194, 194, 194, 0.25);
}
.latest-news-section .latest-news-card .news-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.latest-news-section .latest-news-card .news-info p {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto 20px auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #414652;
}
.latest-news-section .latest-news-card .news-info p span {
  margin: 0px 5px;
}
.latest-news-section .latest-news-card .news-title h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 136%;
}
.latest-news-section .latest-news-card .read-more {
  margin-top: 20px;
}
.latest-news-section .latest-news-card .read-more a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #FF6314;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

.faq-section .faq-section-heading .top-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FF6314;
}
.faq-section .faq-section-heading .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.faq-section .faq-section-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "inter", sans-serif;
  margin: auto 0;
}
.faq-section .faq-section-heading .second-heading {
  padding: 0 100px;
}
.faq-section .faq-section-heading .second-heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.faq-section .questions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.faq-section .questions-wrapper .question {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.faq-section .questions-wrapper .answer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.faq-section .questions-wrapper .question-title {
  margin: 20px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 136%;
}
.faq-section .questions-wrapper .expand-icon {
  padding: 0 20px;
  cursor: pointer;
}
.faq-section .questions-wrapper p.question-answer {
  margin: 0 40px 20px 40px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  cursor: pointer;
  display: none;
}
.faq-section .questions-wrapper p.expand-answer {
  display: block;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.inline-block {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */