@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: currenteColor;
}

.fb-icon {
  font-size: 26px;
  color: #0567E1;
}

.ldin-icon {
  color: #0A66C2;
}

.about-us-home-2 .about-us-section-content {
  display: flex;
  flex-wrap: wrap;
}
.about-us-home-2 .about-us-img-wrapper {
  display: flex;
  width: 100%;
}
.about-us-home-2 .about-us-img-wrapper .left-img {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  width: 70%;
}
.about-us-home-2 .about-us-img-wrapper .left-img img {
  width: 100%;
  height: auto;
}
.about-us-home-2 .about-us-img-wrapper .left-img img:nth-child(1) {
  margin-bottom: 12px;
}
.about-us-home-2 .about-us-img-wrapper .left-img img:nth-child(2) {
  margin-top: 12px;
}
.about-us-home-2 .about-us-img-wrapper .right-img {
  margin: 0 12px;
  width: 50%;
}
.about-us-home-2 .about-us-img-wrapper .right-img img {
  height: 605px;
}
.about-us-home-2 .about-us-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}
.about-us-home-2 .top-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF6314;
}
.about-us-home-2 .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.about-us-home-2 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "inter", sans-serif;
  margin: auto 0;
}
.about-us-home-2 .second-heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.about-us-home-2 .about-us-achievements {
  display: flex;
}
.about-us-home-2 .about-us-achievements h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 136%;
}
.about-us-home-2 .about-read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #FF6314;
  color: #FFFFFF;
  text-decoration: none;
}

.our-team-section {
  background: rgba(0, 0, 0, 0.02);
}
.our-team-section .our-team-section-heading .top-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF6314;
}
.our-team-section .our-team-section-heading .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.our-team-section .our-team-section-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "inter", sans-serif;
  margin: auto 0;
}
.our-team-section .our-team-section-heading .second-heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.our-team-section .expert-driver-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .our-team-section .expert-driver-card {
    margin-bottom: 24px;
  }
}
.our-team-section .expert-driver-card .card-img {
  position: relative;
  padding: 0 10px;
}
.our-team-section .expert-driver-card .card-img img {
  width: 100%;
  height: auto;
}
.our-team-section .expert-driver-card .social-icons {
  background: #FFFFFF;
  padding: 10px;
  position: absolute;
  left: 10px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
}
.our-team-section .expert-driver-card .social-icons a {
  height: 32px;
  margin: 0;
}
.our-team-section .expert-driver-card :hover .social-icons {
  opacity: 1;
  z-index: 1;
}
.our-team-section .expert-driver-card .card-title {
  padding: 10px 15px;
  box-shadow: 0px 10px 20px rgba(17, 24, 39, 0.1);
  margin: 0 10px;
}
.our-team-section .expert-driver-card h5.driver-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 136%;
}
.our-team-section .expert-driver-card p.driver-designation {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #414652;
}

.at-a-glance-section {
  background-image: url(../img/bg-img/background-img.png);
  background-color: rgba(17, 24, 39, 0.8);
}
.at-a-glance-section .glance-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.at-a-glance-section .at-a-glance-heading {
  margin-bottom: 30px;
}
.at-a-glance-section .at-a-glance-heading h2 {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.at-a-glance-section .glance-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 0 8px;
}
@media (max-width: 768px) {
  .at-a-glance-section .glance-card {
    margin-bottom: 30px;
  }
}
.at-a-glance-section .glance-card .icon-wrapper {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 99, 20, 0.1);
}
.at-a-glance-section .glance-card .glance-counter {
  padding: 25px 0 15px 0;
}
.at-a-glance-section .glance-card .glance-counter p {
  font-size: 44px;
  font-weight: 600;
  line-height: 130%;
}
.at-a-glance-section .glance-card .glance-card-title {
  color: #414652;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.training-video-section {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: url(../img/bg-img/training-section-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.training-video-section .train-vid-sec-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.training-video-section .train-vid-sec-main-content {
  position: relative;
  z-index: 2;
}
.training-video-section .training-video-title-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.training-video-section .training-video-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  color: white;
  text-align: center;
  margin: 0 auto 100px auto;
}
.training-video-section .tv-play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-section .faq-section-heading .top-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FF6314;
}
.faq-section .faq-section-heading .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
}
.faq-section .faq-section-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  font-family: "inter", sans-serif;
  margin: auto 0;
}
.faq-section .faq-section-heading .second-heading {
  padding: 0 100px;
}
.faq-section .faq-section-heading .second-heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
}
.faq-section .questions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.faq-section .questions-wrapper .question {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.faq-section .questions-wrapper .answer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.faq-section .questions-wrapper .question-title {
  margin: 20px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 136%;
}
.faq-section .questions-wrapper .expand-icon {
  padding: 0 20px;
  cursor: pointer;
}
.faq-section .questions-wrapper p.question-answer {
  margin: 0 40px 30px 40px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  cursor: pointer;
  display: none;
}
.faq-section .questions-wrapper p.expand-answer {
  display: block;
}

.latest-news-section {
  background: rgba(0, 0, 0, 0.02);
}
.latest-news-section .latest-news-heading {
  margin-bottom: 50px;
}
.latest-news-section .latest-news-heading .sub-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF6314;
  margin-bottom: 12px;
}
.latest-news-section .latest-news-heading .icon-wrapper {
  height: 32px;
  width: 32px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.latest-news-section .latest-news-heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin: auto 0;
}
.latest-news-section .latest-news-heading .heading h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  color: #111827;
}
.latest-news-section .latest-news-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.latest-news-section .latest-news-card {
  position: relative;
}
@media (max-width: 768px) {
  .latest-news-section .latest-news-card {
    margin-bottom: 150px;
  }
}
.latest-news-section .latest-news-card .latest-news-img img {
  width: 100%;
  height: auto;
}
.latest-news-section .latest-news-card .news-description {
  position: absolute;
  bottom: -125px;
  background: #FFFFFF;
  margin: 0 25px 0 20px;
  padding: 30px 25px;
  box-shadow: 1px 2px 2px rgba(194, 194, 194, 0.25);
}
.latest-news-section .latest-news-card .news-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.latest-news-section .latest-news-card .news-info p {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto 20px auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #414652;
}
.latest-news-section .latest-news-card .news-info p span {
  margin: 0px 5px;
}
.latest-news-section .latest-news-card .news-title h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 136%;
}
.latest-news-section .latest-news-card .read-more {
  margin-top: 20px;
}
.latest-news-section .latest-news-card .read-more a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #FF6314;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.05);
}
.latest-news-section .ln-card-1 {
  margin: 0 24px 0 0;
}
.latest-news-section .ln-card-3 {
  margin: 0 0 0 24px;
}

.course-package-section .course-package-main-area {
  overflow-x: hidden;
  position: relative;
  background: url(../img/course-home-2/image_2025-09-07_15-57-27.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.course-package-section .course-package-main-area::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.course-package-section .course-package-main-area .course-content-columns {
  padding: 119px 0 108px 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.course-package-section .course-package-main-area .course-sec-title,
.course-package-section .course-package-main-area .course-sec-quote {
  color: #FFFFFF;
}
.course-package-section .course-package-main-area .course-sec-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}
.course-package-section .course-package-main-area .course-sec-quote {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin: 16px 166px 32px 0;
  color: #CFD1D4;
}
.course-package-section .course-package-main-area .navigation-buttons {
  display: flex;
  flex-direction: row;
}
.course-package-section .course-package-main-area .navigation-buttons a.pkg-btn,
.course-package-section .course-package-main-area .navigation-buttons a.start-course-btn {
  text-decoration: none;
  padding: 15px 30px;
  color: #FFFFFF;
  margin: 0 10px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}
.course-package-section .course-package-main-area .navigation-buttons .pkg-btn {
  background-color: #FF6314;
}
.course-package-section .course-package-main-area .navigation-buttons .start-course-btn {
  border: 1px solid #6B7280;
  background-color: transparent;
}
.course-package-section .course-package-main-area .course-package-sec-imgs {
  position: relative;
}
.course-package-section .course-package-main-area .course-package-sec-imgs img {
  width: 100%;
  height: auto;
}
.course-package-section .course-package-main-area .course-package-sec-imgs .img-1-wrapper {
  width: 178px;
  position: absolute;
  right: 60px;
  top: -50px;
  z-index: 3;
}
.course-package-section .course-package-main-area .course-package-sec-imgs .img-2-wrapper {
  width: 857px;
  position: absolute;
  right: -186px;
  top: -25px;
}

footer {
  border: 1px solid #E8E8EA;
  border-style: inset;
  overflow: hidden;
  height: 623px;
}
footer .d-col-wrapper {
  display: flex;
  flex-direction: row;
}
footer .ds-col {
  padding: 50px 0;
  height: 623px;
}
footer .ds-col-1 {
  width: 516px;
  padding-right: 102px;
}
footer .site-logo {
  width: 176px;
  height: auto;
}
footer .site-logo img {
  width: 100%;
  height: auto;
}
footer .site-newsletter {
  margin: 19px 0 32px 0;
}
footer .site-newsletter p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #70747D;
}
footer .newsletter-mail {
  border: 1px solid #E8E8EA;
  display: flex;
  justify-content: space-between;
  padding: 4px 5px;
}
footer .newsletter-mail input {
  padding: 10px 25px;
  border: none;
}
footer .newsletter-mail a {
  color: #FFFFFF;
  padding: 10px 25px;
  background-color: #FF6314;
  font-family: "Satoshi", sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
footer .contact-social-info {
  margin-top: 129px;
}
footer .contact-social-info .req-demo p {
  margin: 24px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #111827;
}
footer .social-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .social-link {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: rgba(0, 0, 0, 0.05);
  transition: 0.5s ease;
}
footer .social-link:hover {
  color: #FFFFFF;
  background-color: #FF6314;
}
footer .social-link i {
  font-size: 20px;
}
footer .top-links,
footer .links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .top-links a,
footer .links-wrapper a {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: #70747D;
}
footer .ds-col-2,
footer .ds-col-3 {
  border: 1px solid #E8E8EA;
  border-top: none;
  border-bottom: none;
}
footer .ds-col-3,
footer .ds-col-4 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
footer .ds-col-2 {
  padding: 80px 46px 0 46px;
}
footer .ds-col-3 {
  padding: 80px 36px 0 36px;
}
footer .ds-col-4 {
  padding: 80px 0 0 30px;
}
footer .footer-address,
footer .footer-copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #70747D;
}
footer .footer-address {
  margin-top: 100px;
}
footer .footer-copyright {
  margin-top: 140px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-250 {
  padding-bottom: 250px;
}

.py-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.inline-block {
  display: inline-block;
}/*# sourceMappingURL=main.css.map */