@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary-color: #FF6314;
$white: #FFFFFF;
$black-80: #414652;
$black-002: rgba(0, 0, 0, 0.02);
$black-005: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.10);
$orange-10: rgb(255, 99, 20, 0.1);
$light-gray: #CFD1D4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us-home-2 {

    .about-us-section-content {
        display: flex;
    }

    // .about-us-img-wrapper {
    //     width: 100%;
    //     display: grid;
    //     grid-template-columns: repeat(5, 1fr);
    //     grid-template-rows: repeat(5, 1fr);
    //     grid-column-gap: 24px;
    //     grid-row-gap: 24px;



    //     img:nth-child(1) {
    //         width: 312px;
    //         grid-area: 1 /1 / 2 / 2;
    //     }

    //     img:nth-child(2) {
    //         width: 312px;
    //         grid-area: 2 /1 / 3 / 2;
    //     }

    //     img:nth-child(3) {
    //         width: 200px;
    //         grid-area: 1 /2 / 3 / 3;
    //     }
    // }

    .about-us-img-wrapper {
        display: flex;
        width: 100%;
        // overflow: hidden;

        .left-img {
            display: flex;
            flex-direction: column;
            margin: 0 12px;
            width: 70%;

            img {
                width: 100%;
                height: auto;
            }

            img:nth-child(1) {
                margin-bottom: 12px;
            }

            img:nth-child(2) {
                margin-top: 12px;
            }
        }

        .right-img {
            margin: 0 12px;
            width: 50%;

            img {
                // width: 100%;
                height: 605px;
            }
        }
    }

    .about-us-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
    }

    // .about-us-contente-wrapper {
    //     margin: 0 0 0 150px;
    // }

    .top-heading {
        display: flex;
        // justify-content: center; // testing
        align-items: center;
        gap: 10px;
        color: $primary-color;
    }

    .icon-wrapper {
        height: 32px;
        width: 32px;
        padding: 5px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 160%;
        font-family: 'inter', sans-serif;
        margin: auto 0;
    }

    .second-heading {
        h2 {
            font-size: 64px;
            font-weight: 600;
            line-height: 120%;
        }
    }

    .about-us-achievements {
        display: flex;

        h3 {
            margin: 10px 0;
            font-size: 24px;
            font-weight: 600;
            line-height: 136%;
        }
    }

    .about-read-more-btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: $primary-color;
        color: $white;
        text-decoration: none;
        // text-align: center;

        // &:hover {
        //     background: darken($primary-color, 5%);
        // }
    }
}

.our-team-section {

    background: $black-002;

    .our-team-section-heading {

        .top-heading {
            display: flex;
            // justify-content: center; // testing
            align-items: center;
            gap: 10px;
            color: $primary-color;
        }

        .icon-wrapper {
            height: 32px;
            width: 32px;
            padding: 5px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            font-family: 'inter', sans-serif;
            margin: auto 0;
        }

        .second-heading {
            h2 {
                font-size: 64px;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }


    .expert-driver-card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // column-gap: 20px;
        // row-gap: 24px; // not working
    }

    .expert-driver-card {

        @media(max-width: 768px) {
            // width: 48%;
            margin-bottom: 24px;
        }

        .card-img {
            position: relative;
            padding: 0 10px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .social-icons {
            background: $white;
            padding: 10px;
            position: absolute;
            left: 10px;
            bottom: 0;
            // bottom: -135px; // for bottom up animation
            display: flex;
            flex-direction: column;
            gap: 5px;
            opacity: 0;
            z-index: -1;
            // visibility: hidden;
            transition: all 0.5s ease;
        }

        :hover {
            .social-icons {
                opacity: 1;
                // bottom: 0; // for bottom up animation
                z-index: 1;
                // visibility: visible;
            }
        }

        .card-title {
            padding: 10px 15px;
            box-shadow: 0px 10px 20px rgba(17, 24, 39, 0.1);
            // overflow: hidden;
            margin: 0 10px;
        }

        h5.driver-name {
            font-size: 24px;
            font-weight: 500;
            line-height: 136%;
        }

        p.driver-designation {
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            color: $black-80;
        }
    }

}

.at-a-glance-section {
    background-image: url(../img/bg-img/background-img.png);
    background-color: rgba(17, 24, 39, 0.8);

    .glance-card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // gap: 15px;
    }

    .at-a-glance-heading {
        h2 {
            color: $white;
            font-size: 64px;
            font-weight: 600;
            line-height: 120%;
        }

        margin-bottom: 30px;
    }

    .glance-card {
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        margin: 0 8px;

        @media(max-width: 768px) {
            // width: 48%;
            margin-bottom: 30px;
        }

        .icon-wrapper {
            height: 64px;
            width: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $orange-10;
        }

        .glance-counter {
            padding: 25px 0 15px 0;

            p {
                font-size: 44px;
                font-weight: 600;
                line-height: 130%;
            }

            // color: $primary-color;
        }

        .glance-card-title {
            color: $black-80;
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;

        }
    }
}

.training-video-section {
    position: relative;
    width: 100%;
    height: 530px;
    // height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 87px 0;
    margin: 0 auto;
    // background-image: url(../img/bg-img/training-section-bg.png);
    // background: url(../img/bg-img/training-section-bg.png);
    background: url(../img/bg-img/training-section-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // background: rgba(0, 0, 0, .5);

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: rgba(0, 0, 0, 0.5);
    // }

    .train-vid-sec-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .train-vid-sec-main-content {
        position: relative;
        z-index: 2;
    }

    .training-video-title-row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // z-index: 2;
    }

    .training-video-title {
        font-size: 64px;
        font-weight: 600;
        line-height: 120%;
        color: white;
        text-align: center;
        margin: 0 auto 100px auto;
    }

    .tv-play-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.faq-section {
    .faq-section-heading {
        .top-heading {
            display: flex;
            justify-content: center; // testing
            align-items: center;
            gap: 10px;
            color: $primary-color;
        }

        .icon-wrapper {
            height: 32px;
            width: 32px;
            padding: 5px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            font-family: 'inter', sans-serif;
            margin: auto 0;
        }

        .second-heading {
            padding: 0 100px;

            h2 {
                font-size: 64px;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }

    .questions-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // gap: 30px;

        .question {
            border: 1px solid $black-10;
            margin: 20px;
        }

        .answer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
        }

        .question-title {
            margin: 20px;
            padding: 10px 20px;
            font-size: 24px;
            font-weight: 500;
            line-height: 136%;
        }

        .expand-icon {
            padding: 0 20px;
            cursor: pointer;
        }

        p.question-answer {
            margin: 0 40px 30px 40px;
            padding: 5px 20px;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            cursor: pointer;
            display: none;
        }

        p.expand-answer {
            display: block;
        }
    }
}

.latest-news-section {
    background: $black-002;

    .latest-news-heading {
        .top-heading {
            display: flex;
            // justify-content: center; // testing
            align-items: center;
            gap: 10px;
            color: $primary-color;
        }

        .icon-wrapper {
            height: 32px;
            width: 32px;
            padding: 5px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            font-family: 'inter', sans-serif;
            margin: auto 0;
        }

        .second-heading {
            h2 {
                font-size: 64px;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }

    .latest-news-card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // gap: 15px;  
        // margin-top: 30px;
    }

    .latest-news-card {
        position: relative;
        margin: 0 10px;

        @media(max-width: 768px) {
            // width: 48%;
            margin-bottom: 150px;
        }

        .latest-news-img {
            // padding: 0 10px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .news-description {
            position: absolute;
            bottom: -125px;
            background: $white;
            margin: 0 25px 0 20px;
            padding: 30px 25px;
            box-shadow: 1px 2px 2px rgba(194, 194, 194, 0.25);


        }

        .news-info {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;

            p {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin: auto 20px auto 0;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                color: $black-80;

                span {
                    margin: 0px 5px;
                }
            }

            // .news-author {
            //     float: left;
            // }

            // .date {
            //     float: right;
            // }
        }

        .news-title {
            h5 {
                font-size: 24px;
                font-weight: 500;
                line-height: 136%;
            }
        }

        .read-more {
            margin-top: 20px;

            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                line-height: 120%;
                color: $primary-color;
                display: flex;
                justify-content: space-between;
                // margin: 0 10px;
                padding: 10px 20px;
                background-color: $black-005;
            }
        }
    }

}