@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$primary-color: #FF6314;
$white: #FFFFFF;
$black-80: #414652;
$black-002: rgba(0, 0, 0, 0.02);
$black-005: rgba(0, 0, 0, 0.05);
$orange-10: rgb(255, 99, 20, 0.1);
$light-gray: #CFD1D4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.our-team-section {

    background: $black-002;

    .our-team-section-heading {

        .top-heading {
            display: flex;
            // justify-content: center; // testing
            align-items: center;
            gap: 10px;
            color: $primary-color;
        }

        .icon-wrapper {
            height: 32px;
            width: 32px;
            padding: 5px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            font-family: 'inter', sans-serif;
            margin: auto 0;
        }

        .second-heading {
            h2 {
                font-size: 64px;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }


    .expert-driver-card-wrapper {
        display: flex;
        flex-direction: row;
        // row-gap: 24px; // not working
    }

    .expert-driver-card {

        .card-img {
            position: relative;
            padding: 0 10px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .social-icons {
            background: $white;
            padding: 10px;
            position: absolute;
            left: 10px;
            bottom: 0;
            // bottom: -135px; // for bottom up animation
            display: flex;
            flex-direction: column;
            gap: 5px;
            opacity: 0;
            z-index: -1;
            // visibility: hidden;
            transition: all 0.5s ease;
        }

        :hover {
            .social-icons {
                opacity: 1;
                // bottom: 0; // for bottom up animation
                z-index: 1;
                // visibility: visible;
            }
        }

        .card-title {
            padding: 10px 15px;
            box-shadow: 0px 10px 20px rgba(17, 24, 39, 0.1);
            // overflow: hidden;
            margin: 0 10px;
        }

        h5.driver-name {
            font-size: 24px;
            font-weight: 500;
            line-height: 136%;
        }

        p.driver-designation {
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            color: $black-80;
        }
    }

}

.at-a-glance-section {
    background-image: url(../../img/bg-img/background-img.png);
    background-color: rgba(17, 24, 39, 0.8);

    .glance-card-wrapper {
        display: flex;
        flex-direction: row;
        // gap: 15px;
    }

    .at-a-glance-heading {
        h2 {
            color: $white;
            font-size: 64px;
            font-weight: 600;
            line-height: 120%;
        }

        margin-bottom: 30px;
    }

    .glance-card {
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        margin: 0 8px;

        .icon-wrapper {
            height: 64px;
            width: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: $orange-10;
        }

        .glance-counter {
            padding: 25px 0 15px 0;

            p {
                font-size: 44px;
                font-weight: 600;
                line-height: 130%;
            }

            // color: $primary-color;
        }

        .glance-card-title {
            color: $black-80;
            font-size: 20px;
            font-weight: 400;
            line-height: 160%;

        }
    }
}

.latest-news-section {
    background: $black-002;

    .latest-news-heading {
        .top-heading {
            display: flex;
            // justify-content: center; // testing
            align-items: center;
            gap: 10px;
            color: $primary-color;
        }

        .icon-wrapper {
            height: 32px;
            width: 32px;
            padding: 5px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            font-family: 'inter', sans-serif;
            margin: auto 0;
        }

        .second-heading {
            h2 {
                font-size: 64px;
                font-weight: 600;
                line-height: 120%;
            }
        }
    }

    .latest-news-card-wrapper {
        display: flex;
        flex-direction: row;
        // gap: 15px;  
        // margin-top: 30px;
    }

    .latest-news-card {
        position: relative;
        margin: 0 10px;

        .latest-news-img {
            // padding: 0 10px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .news-description {
            position: absolute;
            bottom: -125px;
            background: $white;
            margin: 0 30px;
            padding: 30px 25px;
            box-shadow: 1px 2px 2px rgba(194, 194, 194, 0.25);


        }

        .news-info {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;

            p {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin: auto 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                color: $black-80;

                span {
                    margin: 0px 5px;
                }
            }

            // .news-author {
            //     float: left;
            // }

            // .date {
            //     float: right;
            // }
        }

        .news-title {
            h5 {
                font-size: 24px;
                font-weight: 500;
                line-height: 136%;
            }
        }

        .read-more {
            margin-top: 20px;

            a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                line-height: 120%;
                color: $primary-color;
                display: flex;
                justify-content: space-between;
                // margin: 0 10px;
                padding: 10px 20px;
                background-color: $black-005;
            }
        }
    }

}